p{
    color:green;
}
a{
    color :green;
}
li{
    list-style-type: square;
}
span.special{
    color:orange;
    font-weight: bold;
}
li em{
    color: darkmagenta;
}
a:hover{
    color:black;
    text-decoration: none;
}

body h1+p .special{
    color: yellow;
    background-color: black;
    padding:5px;
}
/* #heading{
    color: red;
    background: black;
} */

p#one{
    color: white;
    background:red;
}

li[class]{
    font-size: 300%;
}
li[class=a]{
    color: rebeccapurple;
}
 
li[class~=a]{
    color:blueviolet;
}


